<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id="com.voltbuilder.sample"
    version="1.0.2">
    <name>VoltBuilder Sample</name>
    <description>Sample Voltbuilder App</description>
    <author email="support@voltbuilder.com" href="https://volt.build">
        Voltbuilder Team
    </author>

    <!-- Security Related Settings -->
    <access origin="https://volt.build" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <icon src="resources/iconTemplate.png" />

    <!-- Splashscreen -->
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="SplashScreenBackgroundColor" value="#000000" />

    <!-- iOS -->
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />

        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>

        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splashTemplate.png" />
    </platform>

    <!-- Plugins -->
    <plugin name="cordova-plugin-device" spec="^3.0.0" />

</widget>
