<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.nsbasic.HelloWorld" ios-CFBundleVersion="1" version="1.0.0" xmlns="https://www.w3.org/ns/widgets">
    <name>HelloWorld</name>
    <description />
    <icon src="www/images/voltbuilder-150.png" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splashTemplate.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <plugin name="cordova-plugin-splashscreen" />
    <preference name="permissions" value="none" />
    <plugin name="cordova-plugin-statusbar" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="android-targetSdkVersion" value="32" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="*" />
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    </platform>
</widget>
